.fondo-portada-k{
    background-image: url(imagenes/fondo-kuarteto.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
}
.fondo-portada-k:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}
.titulo-portada-k{
    font-size: 30px;
}
.sub-portada{
    font-size: 22px;
    font-family: Roboto, sans-serif;
}
.logo-texto{
    margin-top: 200px;
}
.logo-boton-texto{
    margin: 20px;
}